* {
  max-width: 100%;
  box-sizing: border-box;
}

.app {
  width: 1000px;
  margin: 0 auto;
  height: 100vh;
}

button:focus {
  outline: 0;
}

.header {
  height: 10%;
  background-color: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuIcon {
  color: #e6e6e6;
  margin-left: 10px;
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.headerText {
  color: #e6e6e6;
  font-size: 24px;
  margin: auto;
}

.main {
  display: flex;
  height: 90%;
  position: relative;
}

.menu {
  float: left;
  width: 30%;
  background-color: #393939;
}

ul {
  margin-top: 40px;
  list-style: none;
  text-align: left;
}

.li {
  text-decoration: none;
  color: #ec7f37;
}

ul li {
  font-size: 20px;
  margin-top: 20px;
}

.content {
  float: right;
  width: 70%;
  position: relative;
  z-index: 1;
  background-color: #d9d9d9;
}

.startButton {
  width: 200px;
  height: 100px;
  border-radius: 15px;
  font-size: 30px;
  background-color: #4d4d4d;
  color: #ec7f37;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 100px;
  cursor: pointer;
  padding-left: 20px;
}

.game {
  margin: 0 auto;
  height: 90%;
  text-align: center;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.info {
  margin: 20px auto 0;
  color: black;
  height: 60px;
  line-height: 10px;
  font-size: 18px;
}

.player {
  display: inline-block;
  width: 22px;
}

.seconds {
  display: inline-block;
  width: 27px;
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 246px;
  margin: 0 auto;
}

.box {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  line-height: 80px;
  cursor: pointer;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.resetButton {
  margin: 50px auto;
  width: 150px;
  height: 40px;
  background-color: #393939;
  color: #ec7f37;
  letter-spacing: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  padding-left: 20px;
}

.results {
  height: 90%;
  padding: 5px;
  text-align: center;
  overflow: auto;
  margin-bottom: 5px;
}

.resultsHeader {
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px 10px;
  font-size: 20px;
}

table {
  margin: 20px auto 0;
}

th {
  background-color: #4d4d4d;
  color: #ec7f37;
  font-weight: normal;
}

tr:nth-child(odd) {
  background-color: #e6e6e6;
  color: #4d4d4d;
}

tr:nth-child(even) {
  background-color: #4d4d4d;
  color: #e6e6e6;
}

.footer {
  height: 9%;
  background-color: #4d4d4d;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.footerText {
  color: #bfbfbf;
  font-size: 18px;
}

.bug {
  margin: 10px;
}

@media (max-width: 750px) {
  .info {
    font-size: 16px;
  }

  td {
    font-size: 16px;
  }
}

@media (max-width: 530px) {
  .content {
    width: 100%;
  }

  td {
    font-size: 14px;
    padding: 5px 2px;
  }

  .menu {
    position: absolute;
    height: 92%;
    z-index: 10;
    background-color: grey;
    width: 70%;
    transform: translateX(-120%);
    transition: transform 0.3s ease-out;
  }

  .mobileMenu {
    transform: translateX(0%);
    background-color: #393939;
  }
}

@media (min-width: 701px) {
  .mobileMenu {
    display: none;
  }
}

@media (min-width: 531px) {
  .menuIcon {
    display: none;
  }
}
